<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.tech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".WDApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CreateFriendActivity" />
        <activity android:name=".activity.PublishMyInvitationActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="720" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280" />

        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegistrActivity" />
        <activity android:name=".activity.MySettingActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.FindUserDetailsActivity" />
        <activity android:name=".activity.LoveActivity" />
        <activity android:name=".activity.AdvertiseActivity" />
        <activity android:name=".activity.FindGroupsByUserIdActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.PlateActivity"></activity>
        <activity android:name=".activity.CollectionActivity"/>
        <activity android:name=".activity.WantAddFriendActivity"/>
        <activity android:name=".activity.FindGroupDetailsActivity"/>
        <activity android:name=".activity.WantAddGroupActivity"/>
        <activity android:name=".activity.NewFriendsActivity"/>
        <activity android:name=".activity.GroupChatActivity"/>
        <activity android:name=".activity.MyintegralActivity" />
        <activity android:name=".activity.MytaskActivity" />
        <activity android:name=".activity.MyPostActivity" />
        <activity android:name=".activity.MyTongzhiActivity"></activity>
    </application>

</manifest>