<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.tech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".WDApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CreateFriendActivity" />
        <activity android:name=".activity.PublishMyInvitationActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="720" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280" />

        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegistrActivity" />
        <activity android:name=".activity.MySettingActivity" />
        <activity
            android:name=".activity.DetailsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.FindUserDetailsActivity" />
        <activity android:name=".activity.LoveActivity" />
        <activity android:name=".activity.AdvertiseActivity" />
        <activity android:name=".activity.FindGroupsByUserIdActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.PlateActivity" />
        <activity android:name=".activity.CollectionActivity" />
        <activity android:name=".activity.WantAddFriendActivity" />
        <activity android:name=".activity.NewFriendsActivity" />
        <activity android:name=".activity.GroupChatActivity" />
        <activity android:name=".activity.MyintegralActivity" />
        <activity android:name=".activity.MytaskActivity" />
        <activity android:name=".activity.MyPostActivity" />
        <activity android:name=".activity.MyTongzhiActivity"></activity>
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1182180123115181#weixinandqq" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <activity android:name=".activity.ChatActivity"/>
        <activity android:name=".activity.WantGroupChatActivity"/>
        <activity android:name=".activity.ChatSettingsActivity"/>
        <activity android:name=".activity.SignCalendarActivity" />
        <activity android:name=".activity.VipActivity" />
        <activity android:name=".activity.IntegralActivity" />
        <activity android:name=".activity.UserPwdActivity"></activity>
        <activity android:name=".activity.CheckGroupActivity"/>
        <activity android:name=".activity.GroupMemberActivity"/>
        <activity android:name=".activity.GroupDetailsSettingsActivity"/>
    </application>

</manifest>