<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyphenate.easeui">

    <application>
        <activity android:name=".ui.EaseBaiduMapActivity"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KbRr2jllvLmVMqhGH2ldwIRO1Kxrwmjc" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>
</manifest>
